* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.header-nav-list {
    font-weight: 300px;
}

a:hover {
    color: #fff;
}

.header-main-text {
    display: flex;
    justify-content: center;
    background-image: url(/src/img/Group1.png);
    height: 858px;
    background-repeat: no-repeat;
}

/* Main */
.main-text-img {
    background-image: url(/src/img/Group81.png);
    height: 606px;
}

/* main-footer */
.Reviews {
    background-image: url(/src/img/цветы21.png), url(/src/img/Reviews-img.png);
    height: 520px;
    background-repeat: no-repeat;
    background-position: 0% 100%;
}

/* Order-footer */
.order-section {
    background-image: url(/src/img/Order.png);
    height: 509px;
}

/* footer */
footer {
    height: 292px;
    background: #021635;
}

