/* Header */
.header {
    background: #012D63;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1110px;
    margin: 0 auto;
    background-size: cover;
}

.header-nav-list {
    color: #C7C7C7;
    justify-content: space;
    display: flex;
    font-size: 19px;
    gap: 29px;
    margin: auto;
}

.header-nav-language {
    color: #C7C7C7;
    justify-content: space;
    display: flex;
    font-size: 19px;
    gap: 5px;
}

.logo-2 {
    padding-top: 94px;
    padding-left: 170px;
}

.logo-2::before {
    content: "";
    width: 160px; 
    height: 120px;
    display: block;
    background-image: url(/src/img/nike.png), url(/src/img/С&R.png);
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.ColoRawe {
    font-size: 144px;
    padding-top: 0px;
    padding-left: 20px;
}

.Dream-nike {
    display: flex;
    font-size: 72px;
    padding-right: 700px;
    padding-left: 30px;
    width: 550px;
}

p {
    font-size: 18px;
    padding-top: 12px;
    padding-left: 30px;
    width: 525px;
}

.Buy {
    width: 254px;
    height: 67px;
    margin-left: 30px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    background: #8E32C6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

/* Main */
.advantages {
    background-image: url(/src/img/Group81.png);
    background-size: cover;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding: 105px 0px;
}

.advantages-container {    
    display: flex;
    margin: auto;
    justify-content: space-between;
    padding: 25px 0px 20px;
    width: 1110px;
    border: solid 5px #8E32C6;
}

/* card-1 */
.image_1 {
    padding: 0px 0px 25px 50px;
}

.text_1 {
    padding: 25px 0px 0px 91px;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
    padding-top: 10px;
    width: 159px;
}

/* card-2 */
.image_2 {
    padding: 25px 0px 0px 0px;
}

.text_2 {
    text-align: center;
    font-family: Playfair Display;
    padding-left: 50px;
    font-size: 36px;
    width: 161px;
}

/* card-3 */
.image_3 {
    padding-right: 50px;
}

.text_3 {
    width: 151px;
    padding: 22px 0px 0px 0px;
    padding-left: 50px;
    text-align: center;
    font-family: Playfair Display;
    font-size: 36px;
}

/* Rewiew-main */
.reviews-title {
    margin: 0 auto;
    width: 175px;
    height: 65px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.rewiew-data {
    display: block;
}

.rewiew-cards {
    display: flex;
}

/* card-rewiew-1 */
.rewiew-card-1 {
    margin: auto;
    width: 255px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(135deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.50%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
}

.rewiew-comment-1 {
    width: 228px;
    font-size: 24px;
    padding-left: 13px;
    padding-top: 49px;
}

.rewiew-user-1 {
    display: flex;
    margin-top: 40px;
}

.rewiew-data-1 {
    color: #D8D8D8;
    font-size: 14px;
    padding: 169px 206px 107px 13px;
}

.user-info-1 > h4 {
    font-size: 14px;
    padding-left: 5px; 
    margin-bottom: 1px;
}

.user-info-1 > p {
    color: #D8D8D8;
    font-size: 12px;
    padding-left: 5px;
    padding-top: 0;
} 

.user-photo-1 {
    border-radius: 31px;
    padding-left: 12px;
}

/* rewiews-card-2 */

.rewiew-card-2 {
    margin: auto;
    width: 255px;
    height: 292px;
    border-radius: 15px;
    background: linear-gradient(135deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
}

.rewiew-comment-2 {
    width: 228px;
    font-size: 24px;
    padding-left: 18px;
    padding-top: 49px;
}

.rewiew-user-2 {
    display: flex;
    margin-top: 40px;
}

.rewiew-data-2 {
    color: #D8D8D8;
    font-size: 14px;
    padding: 169px 201px 107px 18px;
}

.user-info-2 > h4 {
    font-size: 14px;
    padding-left: 5px;
}

.user-info-2 > p {
    color: #D8D8D8;
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 29px;
    padding-top: 0px;
}

.user-photo-2 {
    border-radius: 31px;
    padding-left: 18px;
}

/* rewiew-card-3 */
.rewiew-card-3 {
    margin: auto;
    width: 255px;
    height: 292px;
    border-radius: 15px;
    background: linear-gradient(135deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;    
}

.rewiew-comment-3 {
    width: 228px;
    font-size: 24px;
    padding-left: 18px;
    padding-top: 49px;
}

.rewiew-data-3 {
    color: #D8D8D8;
    font-size: 14px;
    padding: 169px 201px 107px 18px;
}

.rewiew-user-3 {
    display: flex;
    margin-top: 40px;
}

.user-info-3 > h4 {
    font-size: 14px;
    padding-left: 5px;
}

.user-info-3 > p {
    color: #D8D8D8;
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 29px;
    padding-top: 0px;
}

.user-photo-3 {
    border-radius: 31px;
    padding-left: 18px;
}

/* Order-footer */
.title-order {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 10px;
}

.emil {
    display: flex;
    margin: auto;
    width: 690px;
    height: 60px;
    border-radius: 50px;
    font-size: 28px;
    margin-top: 33px;
    margin-bottom: 19px;
}

.country {
    display: flex;
    margin: auto;
    width: 580px;
    height: 50px;
    margin-top: 19px;
    border-radius: 50px;
    margin-top: 0px;
}

.city {
    display: flex;
    margin: auto;
    width: 580px;
    height: 50px;
    margin-top: 19px;
    border-radius: 50px;
}


.adress {
    display: flex;
    margin: auto;
    width: 580px;
    height: 50px;
    margin-top: 19px;
    margin-bottom: 19px;
    border-radius: 50px;
}

.button-order {
    display: flex;
    margin: auto;
    width: 248px;
    height: 68px;
    border-radius: 16px;
    cursor: pointer;
    background: #8E32C6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    color: #FFF;
    font-size: 24px;
    line-height: 30px;
}

.button-text {
    padding: 20px 0 20px 48px;
}

/* footer */
.footer-section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* footer-container-1 */

.elem-of-container-1 {
    padding: 45px 0px 10px 165px;
    font-size: 23px;
}

.elem-of-container-2 {
    padding: 0px 0px 0px 165px;
    font-size: 23px;
}

.elem-of-container-3 {
    padding: 10px 0px 0px 165px;
    font-size: 23px;
}

/* footer-container-2 */

.elem-of-container_1 {
    text-align: end;
    padding: 45px 164px 10px;
    font-size: 23px;
}

.elem-of-container_2 {
    text-align: end;
    padding: 0px 164px 10px;
    font-size: 23px;
}

.elem-of-container_3 {
    text-align: end;
    padding: 0px 164px;
    font-size: 23px;
}

/* Продовження footer */
.footer-down {
    margin: 20px 165px 0px 165px;
    height: 1px;
    background: #9B9B9B;
}

.footer-2022-colorawe {
    background-image:  url(/src/img/С&R_2.png), url(/src/img/nike_2.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.footer-colorawe {
    padding: 24px 0px 7px;
    font-size: 18px;
}

.states {
    font-size: 18px;
}