/* Header */

.header-nav {
    display: flex;
    background-size: cover;
    background: #012D63;
}

.header-logo {
    display: flex;
    box-sizing: border-box;
    margin: 16px 152px 14px 168px;
}

.header-nav-list {
    color: #C7C7C7;
    justify-content: space;
    display: flex;
    font-size: 15px;
    gap: 29px;
    margin: auto;
}

.header-nav-language {
    color: #C7C7C7;
    justify-content: space;
    display: flex;
    padding: 30px 165px 33px;
    font-size: 15px;
    gap: 5px;
    margin: auto;
}

.logo-2 {
    padding-top: 94px;
    padding-left: 170px;
}

.logo-2::before {
    content: "";
    width: 160px; 
    height: 120px;
    display: block;
    background-image: url(/src/img/nike.png), url(/src/img/С&R.png);
    background-position: top, bottom;
    background-repeat: no-repeat;
}

.ColoRawe {
    font-size: 144px;
    padding-top: 0px;
    padding-left: 20px;
}

.Dream-nike {
    display: flex;
    font-size: 72px;
    padding-left: 30px;
}

p {
    font-size: 18px;
    padding-top: 12px;
    padding-left: 30px;
    width: 525px;
}

.Buy {
    width: 254px;
    height: 67px;
    margin-left: 30px;
    margin-top: 50px;
    cursor: pointer;
    border-radius: 10px;
    background: #8E32C6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

/* Main */
.container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1110px;
    height: 396px;
    border: solid 5px #8E32C6;
}
/* card-1 */
.text_1 {
    text-align: center;
    width: 159px;
    height: 102px;
    font-family: Playfair Display;
    font-size: 36px;
}

.image_1 {
    width: 240px;
    height: 240px;
}

/* card-2 */
.text_2 {
    text-align: center;
    width: 161px;
    height: 102px;
    font-family: Playfair Display;
    font-size: 36px;
}

.image_2 {
    width: 240px;
    height: 240px;
}

/* card-3 */
.text_3 {
    text-align: center;
    width: 151px;
    height: 103px;
    font-family: Playfair Display;
    font-size: 36px;
}

.image_3 {
    width: 240px;
    height: 240px;
}

/* Rewiew-main */
.reviews-title {
    width: 175px;
    height: 65px;
    padding-top: 25px;
    padding-left: 633px;
    padding-bottom: 24px;
}

.rewiew-data {
    display: block;
}

.rewiew-cards {
    display: flex;
    
}

/* card-rewiew-1 */
.rewiew-card-1 {
    width: 255px;
    height: 292px;
    flex-shrink: 0;
    border-radius: 15px;
    background: linear-gradient(135deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.50%, #CC5EC2 100%);
    box-shadow: 0px 30px 0px -13px #533978, 0px 14px 0px -5px #7B54B2;
    margin-bottom: 114px;
    margin-left: 244px;
}

.rewiew-comment-1 {
    width: 228px;
    font-size: 24px;
    padding-left: 13px;
    padding-top: 49px;
}

.rewiew-data-1 {
    color: #D8D8D8;
    font-size: 14px;
    padding: 169px 206px 107px 13px;
}

.user-info-1 > h4 {
    font-size: 14px;
    padding-left: 49px; 
    padding-bottom: 1px;
}

.user-info-1 > p {
    color: #D8D8D8;
    font-size: 12px;
    padding-left: 49px;
    padding-bottom: 29px;
    padding-top: 0px;
} 

.user-photo-1 {
    border-radius: 31px;
    padding-left: 12px;
}

/* rewiews-card-2 */

.rewiew-card-2 {
    width: 255px;
    height: 292px;
    border-radius: 15px;
    background: linear-gradient(135deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 30px 0px -13px #61337C, 0px 14px 0px -5px #9159B1;
    margin-left: 93px;
    margin-right: 93px;
}

.rewiew-comment-2 {
    width: 228px;
    font-size: 24px;
    padding-left: 18px;
    padding-top: 49px;
}

.rewiew-data-2 {
    color: #D8D8D8;
    font-size: 14px;
    padding: 169px 201px 107px 18px;
}

.user-info-2 > h4 {
    font-size: 14px;
    padding-left: 54px;
}

.user-info-2 > p {
    color: #D8D8D8;
    font-size: 12px;
    padding-left: 54px;
    padding-bottom: 29px;
    padding-top: 0px;
}

.user-photo-2 {
    border-radius: 31px;
    padding-left: 18px;
}

/* rewiew-card-3 */
.rewiew-card-3 {
    width: 255px;
    height: 292px;
    border-radius: 15px;
    background: linear-gradient(135deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 30px 0px -13px #732F26, 0px 14px 0px -5px #B95A4C;    
}

.rewiew-comment-3 {
    width: 228px;
    font-size: 24px;
    padding-left: 18px;
    padding-top: 49px;
}

.rewiew-data-3 {
    color: #D8D8D8;
    font-size: 14px;
    padding: 169px 201px 107px 18px;
}

.user-info-3 > h4 {
    font-size: 14px;
    padding-left: 54px;
}

.user-info-3 > p {
    color: #D8D8D8;
    font-size: 12px;
    padding-left: 54px;
    padding-bottom: 29px;
    padding-top: 0px;
}

.user-photo-3 {
    border-radius: 31px;
    padding-left: 18px;
}

/* Order-footer */
.title-order {
    padding-left: 655px;
    padding-top: 10px;
}

.emil {
    width: 50%;
    height: 60px;
    border-radius: 50px;
    font-size: 28px;
    margin-top: 10px;
    margin-left: 375px;
}

.country {
    width: 580px;
    height: 50px;
    border-radius: 50px;
    margin-left: 430px;
}

.city {
    width: 580px;
    height: 50px;
    border-radius: 50px;
    margin-left: 430px;
}


.adress {
    width: 580px;
    height: 50px;
    border-radius: 50px;
    margin-left: 430px;
}

.button {
    width: 248px;
    height: 68px;
    margin-left: 596px;
    margin-bottom: 30px;
    border-radius: 16px;
    cursor: pointer;
    background: #8E32C6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); 
    color: #FFF;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
}