body {
    height: 93px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400px;
    color: #fff;
}

.header-main-text {
    font-family: 'Playfair Display', serif;

}

.CR {
    font-family: 'PT Serif', serif;
    font-size: 48px;
}

/* Main */
.reviews-title {
    font-family: Playfair Display;
    font-size: 48px;
}

/* Order-footer */
.title-order {
    font-family: Playfair Display;
    font-size: 48px;
}

input {
    color: #959595;
    font-size: 24px;
    padding-left: 24px;
}

/* footer */
.container-1,
.container-2 {
    font-size: 24px;
}

.section-footer {
    display: flex;
}